classification_schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="classification">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tweet"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="tweet">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sentiment" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="negative" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="positive" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
